# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Moss
.moss/
/src-tauri/target

.env
.DS_Store
src-tauri/target/
node_modules/
.moss/
.gemini/
side_documents/
scripts_archive/